<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {pageTitle: 'Error'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Could not find resource</h1>
      <p>Unfortunately, we could not find the requested resource!</p>
      <p><a class="btn" href="/">Back to safety!</a></p>
    </main>
  </body>
  <%- include('includes/footer') %>
</html>
