<!DOCTYPE html>
<html lang="en">
  <%- include('../../shared/includes/head', {pageTitle: 'Product'}) %>
  <head>
    <link rel="stylesheet" href="/styles/forms.css" />
    <script src="/scripts/image-preview.js" defer></script>
  </head>
  <body>
    <%- include('../../shared/includes/header') %>
    <Main>
      <section>
        <h1>Add new Product</h1>
      </section>
      <%- include('includes/product-form', {submitPath: '/admin/products',
      product: { title: '', summary: '', price: '', description: ''
      },imageRequired: true}) %>
    </Main>
  </body>
  <%- include('../../shared/includes/footer') %>
</html>
